@"
# =========================================================
# MATLAB Project .gitignore
# =========================================================

*.txt
*.plr
*.dat
*.log
*.asv
*.bak
*.tmp
*.mat

